@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');


@media (min-width: 481px) {
    body {
        background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
        background-color: hsl(185, 75%, 39%);
        background-position-x: -40%, 120%;
        background-position-y: 250%, -220%;
        background-size:60%, 60%;
        background-attachment: fixed, fixed;
        background-repeat: no-repeat, no-repeat;
    }
}

@media (max-width: 480px) {
    body {
        background-color: hsl(185, 75%, 39%);
        background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
        background-position-x: -380px, 250px;
        background-position-y: -260px, 380px;
        background-size:600px, 600px;
        background-attachment: fixed, fixed;
        background-repeat: no-repeat, no-repeat;
        min-height: 667px;
    }
    
    
    .card {
        max-width: 280px;
        min-height: 330px;
    }

    .banner {
        max-width: 280px;
        min-height: 120px;
    }
    
    .profileBody {
        max-width: 280px;
        min-height: 100px;
    }

    .profileBubble {
        max-width: 100px;
        min-height: 100px;
    }

    .image {
        max-width: 90px;
        min-height: 90px;
    }




}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

* {
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 740px;
    font-family: 'Kumbh Sans', sans-serif;

}

.card {
    width: 330px;
    height: 350px;
    background-color: white;
    border-radius: 10px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    justify-content: center;

    
}

.banner {
    background-image: url(images/bg-pattern-card.svg);
    width: 330px;
    height: 120px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.profileBody {
    width: 330px;
    height: 100px;
    position: absolute;
    transform: translateY(-50px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileBubble {
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    
    
    
    
}

.image {
    border-radius: 50%;
    position:absolute;
    width:90px;
    height: 90px;
    transform: translate(-95px, -45px);
    
    
}

.cardBottom {
    
    transform: translateY(60px);
}

.bio {

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.bioTop {
    display: flex;
    justify-content: center;

}


.bioBottom {
    display: flex;
    justify-content: center;
}

.name {
    padding: 3px;
    font-size: 18px;
    font-weight: 900;
}

.age {
    padding: 3px;
    font-size: 18px;
    color: rgb(94, 94, 94);
    font-weight: 500;
}

.city {
    color:rgb(94, 94, 94);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
}


hr {
    border: 0.1px solid rgba(94, 94, 94, 0.3);
}


.stats {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 10px;
}

.followers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.likes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.num {
    font-weight: 900;
    padding-bottom: 5px;
    letter-spacing: 1px;
}

.tag {
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 500;
    color: rgb(94, 94, 94);
}
